apiVersion: batch/v1
kind: CronJob
metadata:
  name: aqi-weekly-sync
  namespace: d23a53-dev
spec:
  schedule: '*/5 * * * *' #change this to every saturday at midnight
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: db-sync
              image: postgres:15
              env: 
                # Database credentials from openshift secrets
                - name: POSTGRES_HOST
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Release.Name }}-database"
                      key: POSTGRES_HOST
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: POSTGRES_USER
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: POSTGRES_PASSWORD  
                - name: POSTGRES_DBNAME
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: POSTGRES_DATABASE
                
                # S3 Credentials from openshift secrets
                - name: S3_BUCKET
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: S3_BUCKET
                - name: S3_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: S3_KEY
                - name: S3_REGION
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: S3_REGION
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: AWS_ACCESS_KEY_ID
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: "nr-enmods-wr"
                      key: AWS_SECRET_ACCESS_KEY
              args:
                - /bin/sh
                - '-c'
                - |
                  echo "Starting AQI weekly sync job..."

                  export DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/$POSTGRES_DBNAME"

                  echo "Running load from S3..."
                  psql "$DATABASE_URL" \
                    -c "SELECT run_aqi_s3_load('$S3_BUCKET', '$S3_KEY', '$S3_REGION', NULL, '$AWS_ACCESS_KEY_ID', '$AWS_SECRET_ACCESS_KEY', '$AWS_SESSION_TOKEN');"

                  echo "Load from S3 completed."
                  echo "Running table swap..."
                  psql "$DATABASE_URL" \
                    -c "SELECT run_aqi_table_swap('AQI_AWS_S3_SYNC');"
                  echo "Table swap completed."
                  echo "AQI hourly sync completed."
          restartPolicy: OnFailure
