apiVersion: batch/v1
kind: CronJob
metadata:
  name: aqi-weekly-sync
  namespace: d23a53-dev
spec:
  schedule: '*/5 * * * *' #change this to every saturday at midnight
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: db-sync
              image: postgres:15
              env: 
                # Database credentials from openshift secrets
                - name: POSTGRES_HOST
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Release.Name }}-database"
                      key: POSTGRES_HOST
                - name: POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Release.Name }}-database"
                      key: POSTGRES_USER
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Release.Name }}-database"
                      key: POSTGRES_PASSWORD  
                - name: POSTGRES_DBNAME
                  valueFrom:
                    secretKeyRef:
                      name: "{{ .Release.Name }}-database"
                      key: POSTGRES_DATABASE
              args:
                - /bin/sh
                - '-c'
                - |
                  echo "Job started at: $(date)"
                  echo "POSTGRES_USER=$POSTGRES_USER"
                  echo "POSTGRES_PASSWORD=$POSTGRES_PASSWORD"
                  echo "POSTGRES_DB=$POSTGRES_DB"
                  echo "Hello from the Kubernetes cluster"
          restartPolicy: OnFailure
