name: PR

on:
  pull_request:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

jobs:
  builds:
    name: Builds
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - uses: bcgov-nr/action-builder-ghcr@v2.0.2
        with:
          keep_versions: 50
          package: ${{ matrix.package }}
          tag: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')

  # https://github.com/bcgov-nr/action-builder-ghcr
  build-and-push:
    name: Build and Push db
    needs: builds
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-22.04
    timeout-minutes: 10
  
    steps:
    # Checkout the repo
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build & push DB via action  
        uses: bcgov-nr/action-builder-ghcr@v2.0.2
        with:
          package: custom-postgres-with-aws
          tag: ${{ github.event.number }}
          tag_fallback: latest
          keep_versions: 50
          context: ./charts/app          # whereever the database docker file folder is
          file: ./charts/app/Dockerfile  # the path to the custom docker file

    # # Build the Docker image
    #   - name: Build  Docker Image
    #     run: |
    #       IMAGE_NAME=ghcr.io/bcgov/nr-containers/nr-enmods-wr-${{ github.event.number }}-db
    #       docker build -t $IMAGE_NAME:latest ./charts/app

    # # Push the image to ghcr
    #   - name: Push Docker Image to GHCR
    #     run: |
    #       IMAGE_NAME=ghcr.io/bcgov/nr-containers/nr-enmods-wr-${{ github.event.number }}-db
    #       docker push $IMAGE_NAME:latest

  # https://github.com/bcgov/quickstart-openshift-helpers
  deploys:
    name: Deploys
    needs: [builds, build-and-push]
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.deployer.yml@v0.5.0
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      triggers: ('backend/' 'frontend/' 'migrations/')
      params: --set global.secrets.persist=false

  results:
    name: PR Results
    needs: [builds, deploys]
    if: always() && (!failure()) && (!cancelled())
    runs-on: ubuntu-22.04
    steps:
      - run: echo "Success!"
